 <header >

    <div class="controllers"> 
    <p>"WELCOME TO GAMERSHEIM"</p>
    </div>

    <nav class="navbar" >   
        

        <a href="/"><button class="gamersheim-button"> Gamersheim </button></a>
        <a href="/titles"><button class="gamersheim-button"> Titles </button></a>
        <a href="/platforms"><button class="popular-button"> Platforms </button>   </a>
        <a href="/genres"><button class="upcoming-button"> Genre </button></a>
        <a href="/games"><button class="platforms-button"> Games </button> </a>
        <a href="/comments"><button class="platforms-button"> Comments </button></a>
        <a href="/adddeletecomment"><button class="platforms-button"> +/- Comment </button></a>

        {{#if loggedIn}}
        <button id="/logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}} 
   
    </nav>



</header>