<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><style></style>
    <title>GamersHeim</title>
    <link rel='icon' type='image/x-icon' href='/favicon.ico'>

</head>


<body>

    
    {{>header}}

    <div class="gallery ">{{{body}}}</div>
    
    {{>footer}}

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
    
</body>
</html>