<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamersheim</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
   <div>

    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">&#127918;</span>
        <a href="/">GamersHeim!</a>
        <span role="img" aria-label="money">&#127918;</span>
      </h1>
      <nav>
        <a href="">
            <button class="platforms-button"> Platforms </button>
        </a>
        <a href="">
            <button class="genre-button"> Genre </button>
        </a>
        <a href="">
            <button class="user-button"> Games </button>
        </a>
        <a href="">
            <button class="user-button"> Login </button>
        </a>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/comments">Comments</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>



      <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
              {{{ body }}}
      </main>

    <footer>

    </footer>
   </div>


<!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
     {{/if}}


</body>
</html>