<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamersheim</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="">
            <img src="/assets/images/cardimages/Asset 5.svg" class="logo">
        </a>
        <a href="">
            <button class="gamersheim-button"> Gamersheim </button>
        </a>
        <a href="">
            <button class="popular-button"> Popular </button>
        </a>
        <a href="">
            <button class="upcoming-button"> Upcoming </button>
        </a>
        <a href="">
            <button class="platforms-button"> Platforms </button>
        </a>
        <a href="">
            <button class="genre-button"> Genre </button>
        </a>
        <a href="">
            <button class="user-button"> User </button>
        </a>
    </nav>

    <div>
        <!--main-->
        {{!-- {{featured games}} --}}
        {{!-- Replacement of {{featured games}} to support handlebar files to be served up --}}
        {{{body}}}
    </div>
    <div>
        <!--explore/signup-->
        <img src="" class="">
        <p>
            
        </p>
        <a>
            <button> Explore </button>
        </a>
        <a>
            <button> Sign-up </button>
        </a>
    </div>
    {{!-- Removed below as only one object can be loaded --}}
    {{!-- <div>
        <!--explore section-->
        {{Upcoming}}

    </div> --}}

    <footer>

    </footer>
    
</body>
</html>