
<div class="row ">
  <div class="login-card">
    <h2 class="page-title">Add A Comment</h2>

    <form class="form login-form">

      <div class="form-group">

       <form class="form login-form">
          <label for="cars">Choose a Game:</label>
              <select name="games" id="games">
              <option >{{game.title}}</option>
          </select>
          
          <br><br>
          <input type="submit" value="Submit" id="game">
        </form>

      </div>
      <div class="form-group">
        <label for="password-login">Comment:</label>
        <input class="form-input" type="password" id="message" />
      </div>
      <div class="form-group">


        <button class="btn btn-primary" type="submit" id="submit">Submit</button>
      </div>

    </form>



  </div>


<script src="./comment/profile.js"></script>
