<style>
  .login-card{
    width: 450px;
      display: inline-block;
  },
.form-group{
  display: inline-block;
}
</style>



<div class="row ">
  <div class="login-card">
    <h2 class="page-title">Add A Comment</h2>

    <form class="form login-form">

      <div class="form-group">

       <form class="form login-form">
          <label for="games">Choose a Game:</label>
              <select name="games" id="games">
              <option >Age of Empires 4</option>
              <option >Batman: Arkham knight</option>
              <option >Bayonetta</option>
              <option >Cyberpunk 2077</option>
              <option >Dark Souls 3</option>
              <option >ELDEN RING</option>
              <option >Grand Theft Auto Trilogy</option>
              <option >Halo: Combat Evolved</option>
              <option >Mario Kart 8 Deluxe</option>
              <option >Minecraft</option>
          </select>
      </div>

      <div class="form-group">

      <div class="form-group">
            <textarea rows="4" cols="50" name="comment" form="user-form" placeholder="Enter your comment here..."></textarea>
      </div>
      
        <button class="btn btn-primary comment-submit" type="submit" id="submit">Submit</button>
      </div>

    </form>



  </div>
</div>

<script src="./comment/profile.js"></script>
