{{#each comments as |comment|}}
<section class="card">

  <div class="painting-details">
      <a href="/comments/{{id}}"><h3 style="color: blue;">{{game_name}}</h3></a>
      <p>{{message}}</p>
  </div>
</section>
  {{/each}}