<div class="text-center">
  <h2>{{games.title}}</h2>
  <p>{{games.genre}}</p>
  <p>{{games.platform}}</p>
  <p>{{comments.message}}</p>
  <p></p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>