<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 0;
}

td, th {
  border: 1px solid darkslategray;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<table>
  <tr>
    <th>Game Title</th>
    <th>Comment</th>
    <th>Action</th>

  </tr>
  {{#each comments as |comment|}}
  <tr>
    <td>{{game_name}}</td>
    <td>{{message}}</td>
    <td><button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button></td>
  </tr>
{{/each}}
</table>
