<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 0;
}

td, th {
  border: 1px solid darkslategray;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{{#if loggedIn}}
<table>
  <tr>
    <th>Game Title</th>
    <th>Comment</th>

  </tr>
  {{#each comments as |comment|}}
  <tr>
    <td>{{game_name}}</td>
    <td>{{message}}</td>

  </tr>
{{/each}}
</table>

{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}