<div class="menu-container">

  <div class="card-header col-md-10"> 
    <h1 style="text-align:center;position:relative">List of Games</h1> 
  </div>

  {{#each games as |games|}}
    <div class="dish col-md-5">

      <a href="http://localhost:3001/games/{{id}}"><p>{{id}}.{{title}}</p></a>
    </div>

  {{/each}}
</div>