<div class="menu-container">
  <div class="card-header col-md-10"> 
    <h1 style="text-align:center;position:relative">List of Title</h1> 
  </div>
  
  {{#each games as |game|}}
    <div class="dish col-md-5">

      <p>{{title}}</p>
    </div>

  {{/each}}
</div>
