<link rel="stylesheet" href="../public/css/style.css">
{{#each genres as |genre|}}
<section class="card">

  <img src="/images/{{name}}.jpeg" alt="game cover">
  <div class="box-details">
      <h3 style="color: blue;">{{name}}</h3>
      <a href="https://en.wikipedia.org/wiki/List_of_video_game_genres" target="_blank">Get Details from Wiki</a>
  </div>
</section>
  {{/each}}

<embed type="text/html" src="" width="%100" height="%100">