{{#each genres as |genre|}}
<section class="card">

  <img src="/images/{{name}}.jpeg" alt="game cover">
  <div class="painting-details">
      <a href="http://localhost:3001/genres/{{id}}"><h3>{{name}}</h3></a>
  </div>
</section>
  {{/each}}