<link rel="stylesheet" href="../../public/css/style.css">

<div class="homepage-menu-container">
  <div class="card-header col-md-10"> 
    <h1 style="text-align:center;position:relative">Welcome To Main Page</h1> 
  </div>

</div>
