<link rel="stylesheet" href="/css/style.css">

<div class="homepage-menu-container">
  <div class="card-header col-md-10"> 
    <h1 style="text-align:center;position:relative">
        <div style="margin: auto;"> <span role="img" aria-label="controller">&#127918;</span>WELCOME to GAMERSHEIM<span role="img" aria-label="controller">&#127918;</span></div>
    </h1>
  </div>
<img src="/images/backgroundimage.jpeg" alt="">

</div>



