<div class="row ">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="emaillogin">Email:</label>
        <input class="form-input" type="text" id="emaillogin" />
      </div>
      <div class="form-group">
        <label for="passwordlogin">Password:</label>
        <input class="form-input" type="password" id="passwordlogin" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="submitlogin">login</button>
      </div>
    </form>
  </div>



  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="firstname-signup">First Name:</label>
        <input class="form-input" type="text" id="firstnamesignup" />
      </div>
      <div class="form-group">
        <label for="lastname-signup">Last Name:</label>
        <input class="form-input" type="text" id="lastnamesignup" />
      </div>      
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="emailsignup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="passwordsignup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>