<div>
    <div>
        <h2>
            Platforms
        </h2>
    </div>
        <div>
            <a>
                <button>
                    {{platform.id}}
                </button>
            </a>
            <a>
                <button>
                    {{platform.id}}
                </button>
            </a>
            <a>
                <button>
                    {{platform.id}}
                </button>
            </a>
        </div>
</div>


--------- alternate way ------------

<table class="table-genres">
<thead>
    <tr>
        <th>Platform Name</th>
    </tr>
</thead>

<tbody>
    {{#each platforms}}
    <tr>
        <td>{{platforms.platform_name}}</td>
    </tr>
    {{/each}}
</tbody>

</table>