
{{#each platforms as |platform|}}
<section class="card">

  <img src="" alt="game cover">
  <div class="box-details">
    <h3 style="color: blue;">{{name}}</h3>

    <a href="{{link}} " target="_blank">Platform Details</a>
  </div>
</section>
  {{/each}}
  

