
{{#each platforms as |platform|}}
<section class="card">

  <img src="/images/{{image}}" alt="game cover">
  <div class="painting-details">
    <h3 style="color: blue;">{{name}}</h3>

    <a href="{{link}}">Platform Details</a>
  </div>
</section>
  {{/each}}
  

