<div>
    <div>
        <h2>
            Platforms
        </h2>
    </div>

</div>

    {{#each platform as |platform|}}
        <div>
            <a>
                <button>
                    {{platform.platform_name}}
                </button>
            </a>

        </div>
    {{/each}}