
{{#each platforms as |platform|}}
<section class="card">

  <img src="/images/{{image}}" alt="game cover">
  <div class="painting-details">
      <a href="/platforms/{{id}}"><h3 style="color: blue;">{{name}}</h3></a>
  </div>
</section>
  {{/each}}