<div>
    <div>
        <h2>
            Platforms
        </h2>
    </div>
        <div>
            <a>
                <button>
                    {{platform.platform_id}}
                </button>
            </a>
            <a>
                <button>
                    {{platform.platform_id}}
                </button>
            </a>
            <a>
                <button>
                    {{platform.platform_id}}
                </button>
            </a>
        </div>
</div>