
{{#each platforms as |platform|}}
<section class="card">

  <img src="/images/{{image}}" alt="game cover">
  <div class="painting-details">
      <a href="http://localhost:3001/platforms/{{id}}"><h3>{{name}}</h3></a>
  </div>
</section>
  {{/each}}