{{#each titles as |title|}}
<section class="card">

  <img src="{{title_images}}.jpeg" alt="game cover">
  <div class="box-details">
      <a href="http://localhost:3001/{{name}}"><h3 style="color: blue;">{{name}}</h3></a>
  </div>
</section>
  {{/each}}